//@import 'global';

//inside informed-newsletter class div

div.informed-newsletter {

	h2 {
		font-size:32px;
		padding-top:47px;
	}

	h3 {
		padding-top:20px;
		text-align:left !important;
	}

	ul {
		margin:0;
		padding:0;

		li {
			margin:0.5rem 0 0.8125rem 2rem;
		}

		ul {
			margin-left:2rem;

			li {
				margin:0.5rem 0 0.8125rem 4rem;
			}

		}

	}

}